/* Style général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

/* Header */
.hero {
    background-color: #1e293b;
    color: rgb(155, 21, 21);
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

/* Bouton */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #38bdf8;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0ea5e9;
}

/* Sections */
main {
    padding: 40px 20px;
}

section {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #e5e7eb;
}
